body {
  background-color: rgb(255, 230, 148);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#title-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 10em;
  text-align: center;
  background-color: rgb(255, 230, 148);
}
#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 950px;
  background-color: rgb(255, 241, 194);
  border: solid rgb(255, 222, 131) 10px;
}
#title-text {
  margin: auto;
  padding: 25px;
  background-color: rgb(255, 246, 215);
  font-family: 'Courier New', Courier, monospace;
  font-size: 38px;
  font-weight: 600;
}
#title-h2 {
  font-style: italic;
  font-weight: lighter;
  font-size: 15px;
}
